<form class="login-form" [ngFormModel]="form" (ngSubmit)="signup()">
    <h2>Login Form Demo</h2>

    <div class="form-group">
        <label for="username">Username</label>
        <input ngControl="username" type="text" id="username" class="form-control" #username="ngForm">
        {{ username.errors | json }}
        <div *ngIf="username.touched && username.errors">
            <div *ngIf="username.errors.required" class="alert alert-danger">Username is required</div>
            <div *ngIf="username.errors.cannotContainSpace" class="alert alert-danger">Can not contain spaces</div>
            <div *ngIf="username.errors.shouldBeUnique" class="alert alert-danger">User name should be unique</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input ngControl="password" type="password" id="password" class="form-control" #password="ngForm">
        <div *ngIf="password.touched && password.errors">
            <div *ngIf="password.errors.required" class="alert alert-danger">Password is required</div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Sign Up</button>
</form>